edi9-messages/src/main/resources/xsd/inbound/Comp9/COMP9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Charles Redden (AutoTec, LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../Header9.xsd"/>
	<xs:annotation>
		<xs:documentation>Company Message</xs:documentation>
	</xs:annotation>
	<xs:element name="BondingCompany">
		<xs:annotation>
			<xs:documentation>Name of bonding company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="75"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BondExpirationDate">
		<xs:annotation>
			<xs:documentation>Expiration date of bond.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BondNumber">
		<xs:annotation>
			<xs:documentation>Bond number as it appears on bond.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BusinessStartDate">
		<xs:annotation>
			<xs:documentation>Date company came into business.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CommercialAccountType">
		<xs:annotation>
			<xs:documentation>Type of commercial account.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bank / Credit Union"/>
				<xs:enumeration value="Financial Services Company"/>
				<xs:enumeration value="Insurance Company"/>
				<xs:enumeration value="Manufacturer"/>
				<xs:enumeration value="Rental Car Company"/>
				<xs:enumeration value="Captive Finance Company"/>
				<xs:enumeration value="Fleet Company"/>
				<xs:enumeration value="Government Agency"/>
				<xs:enumeration value="Salvage/Scrap Company"/>
				<xs:enumeration value="Other Business Organization"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyID">
		<xs:annotation>
			<xs:documentation>AutoTec Company ID</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:maxInclusive value="8999999"/>
				<xs:minInclusive value="5000000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompanyID"/>
				<xs:element ref="DBAName"/>
				<xs:element ref="LegalName" minOccurs="0"/>
				<xs:element ref="CompanyType"/>
				<xs:element ref="GovernmentID" minOccurs="0"/>
				<xs:element ref="GovernmentIDType" minOccurs="0"/>
				<xs:element ref="GovernmentIDCountry" minOccurs="0"/>
				<xs:element ref="EntityType" minOccurs="0"/>
				<xs:element ref="PublicSaleOnly" minOccurs="0"/>
				<xs:element ref="NICBNumber" minOccurs="0"/>
				<xs:element ref="DunandBradstreetNumber" minOccurs="0"/>
				<xs:element ref="InsuranceCompany" minOccurs="0"/>
				<xs:element ref="PolicyNumber" minOccurs="0"/>
				<xs:element ref="InsuranceExpirationDate" minOccurs="0"/>
				<xs:element ref="BondingCompany" minOccurs="0"/>
				<xs:element ref="BondNumber" minOccurs="0"/>
				<xs:element ref="BondExpirationDate" minOccurs="0"/>
				<xs:element ref="RIN" minOccurs="0"/>
				<xs:element ref="GST" minOccurs="0"/>
				<xs:element ref="BusinessStartDate" minOccurs="0"/>
				<xs:element ref="OutOfBusiness" minOccurs="0"/>
				<xs:element ref="OutOfBusinessDate" minOccurs="0"/>
				<xs:element ref="MembershipExpirationDate" minOccurs="0"/>
				<xs:element ref="CommercialAccountType" minOccurs="0"/>
				<xs:element ref="ParentCompanyID" minOccurs="0"/>
				<xs:element ref="Courier" minOccurs="0"/>
				<xs:element ref="CourierAccount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompanyType">
		<xs:annotation>
			<xs:documentation>Indicates company's tax classification.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Sole Proprietorship"/>
				<xs:enumeration value="General Partnership"/>
				<xs:enumeration value="Limited Partnership"/>
				<xs:enumeration value="Sub C Corporation"/>
				<xs:enumeration value="Sub S Corporation"/>
				<xs:enumeration value="LLC-Sole"/>
				<xs:enumeration value="LLC-Partnership"/>
				<xs:enumeration value="LLC-Corporation"/>
				<xs:enumeration value="Business Corporation"/>
				<xs:enumeration value="Limited Liability Company"/>
				<xs:enumeration value="Unlimited Liability Corporation"/>
				<xs:enumeration value="Government Agency"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Courier">
		<xs:annotation>
			<xs:documentation>Type of courier.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="No Courier"/>
				<xs:enumeration value="Federal Express"/>
				<xs:enumeration value="DHL"/>
				<xs:enumeration value="United Parcel Service"/>
				<xs:enumeration value="United States Postal Service"/>
				<xs:enumeration value="Purolator"/>
				<xs:enumeration value="Other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CourierAccount">
		<xs:annotation>
			<xs:documentation>Courier Account number and information.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DBAName">
		<xs:annotation>
			<xs:documentation>Company's Doing Business As name.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DunandBradstreetNumber">
		<xs:annotation>
			<xs:documentation>ID issued to company by Dun and Bradstreet</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntityType">
		<xs:annotation>
			<xs:documentation>Indicates kind of entity in message.  Note: The EntityType enumerations are consistent across all messages. The only values that pertain to this message are: Dealership and Commercial Account.  Transporter is a future enhancement and may or may not be relevant to this message in the future.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Dealership"/>
				<xs:enumeration value="Transporter"/>
				<xs:enumeration value="Commercial Account"/>
				<xs:enumeration value="Company Association"/>
				<xs:enumeration value="Person"/>
				<xs:enumeration value="Bank"/>
				<xs:enumeration value="Bank Account"/>
				<xs:enumeration value="Third Party Remarketing"/>
				<xs:enumeration value="Customer Customization"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GovernmentID">
		<xs:annotation>
			<xs:documentation>Unique id issued by government.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GovernmentIDCountry">
		<xs:annotation>
			<xs:documentation>Issuing country of government id</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GovernmentIDType">
		<xs:annotation>
			<xs:documentation>Indicates type of government id.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GovtPersonalID"/>
				<xs:enumeration value="GovtID"/>
				<xs:enumeration value="Passport"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GST">
		<xs:annotation>
			<xs:documentation>Goods and Services Tax number issued for Canadian companies.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{9}"/>
					</xs:restriction>
				</xs:simpleType>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsuranceCompany">
		<xs:annotation>
			<xs:documentation>Insurance company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="75"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsuranceExpirationDate">
		<xs:annotation>
			<xs:documentation>Expiration date of insurance policy.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegalName">
		<xs:annotation>
			<xs:documentation>Legal Name of company based on licensing documents.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MembershipExpirationDate">
		<xs:annotation>
			<xs:documentation>Expiration date for company's AutoTec membership.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="CompanyInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NICBNumber">
		<xs:annotation>
			<xs:documentation>ID issued to company by National Insurance Crime Bureau.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutOfBusiness">
		<xs:annotation>
			<xs:documentation>Indicates whether a company is out of business.  A 'Y' value will always be accompanied by an OutOfBusinessDate.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutOfBusinessDate">
		<xs:annotation>
			<xs:documentation>Date company went out of business.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ParentCompanyID">
		<xs:annotation>
			<xs:documentation>The AutoTec id of any group of which the company is a member.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:maxInclusive value="1200000000"/>
				<xs:minInclusive value="1000000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PolicyNumber">
		<xs:annotation>
			<xs:documentation>Insurance policy number.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PublicSaleOnly">
		<xs:annotation>
			<xs:documentation>Indicates company is allowed to purchase in public sales only.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RIN">
		<xs:annotation>
			<xs:documentation>Registrant Identification Number issued by Canada to Ontario dealerships.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{9}"/>
					</xs:restriction>
				</xs:simpleType>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
</xs:schema>
