edi9-messages/src/main/resources/xsd/canonical/CompanyType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Shannon Brooks (Manheim Auctions) -->
<xs:schema xmlns:cs="http://www.manheim.com/2009/01/CustSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.manheim.com/2009/01/CustSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AuthSpecialtyType.xsd"/>
	<xs:include schemaLocation="SegmentationType.xsd"/>
	<xs:include schemaLocation="PostalAddressType.xsd"/>
	<xs:include schemaLocation="ElectronicAddressType.xsd"/>
	<xs:include schemaLocation="TelecomNumberType.xsd"/>
	<xs:include schemaLocation="ControlAreaType.xsd"/>
	<xs:include schemaLocation="IdentifierType.xsd"/>
	<xs:include schemaLocation="FranchiseRelationshipType.xsd"/>
	<xs:include schemaLocation="AuctionAccountType.xsd"/>
	<xs:include schemaLocation="BankAccountType.xsd"/>
	<xs:include schemaLocation="FloorPlanAccountType.xsd"/>
	<xs:include schemaLocation="CustomerGroupRefType.xsd"/>
	<xs:include schemaLocation="CustGrpRelationshipType.xsd"/>
	<xs:include schemaLocation="ParentCompanyRelationshipType.xsd"/>
	<xs:include schemaLocation="GlobalDemoTypes.xsd"/>
	<xs:include schemaLocation="SystemKeysType.xsd"/>
	<xs:complexType name="CompanyType">
		<xs:annotation>
			<xs:documentation>Type for a representation of the organizations that conduct formal revenue generating business transactions with Manheim.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SystemKeys" type="cs:SystemKeysType"/>
			<xs:element name="action" type="cs:actionCode" minOccurs="0"/>
			<xs:element name="sourceDeleteIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="dbaName" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="legalName" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="legalForm" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessType" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessSubType" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="outOfBusinessIndicator" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessStartDate" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:date"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessEndDate" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:date"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessFormedState" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessFormedCountry" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="insuranceCompanyName" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="insurancePolicyNumber" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="insurancePolicyExpiryDate" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:date"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bondCompanyName" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bondNumber" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bondExpiryDate" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:date"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doNotSolicitPhone" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doNotSolicitFax" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doNotSolicitEMail" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="doNotSolicitMail" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="paperlessIndicator" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="activityCode" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="universalCreditLimit" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:decimal"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dunsNumber" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:long">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:long"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="UCCExpiryDate" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:date">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:date"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="koBookIndicator" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="koBookExternalExceptionIndicator" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="koBookManheimOverrideIndicator" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="setNULL" type="xs:boolean"/>
							<xs:attribute name="changed" type="xs:boolean" use="required"/>
							<xs:attribute name="previousValue" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostalAddress" type="cs:PostalAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ElectronicAddress" type="cs:ElectronicAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TelecomNumber" type="cs:TelecomNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Identifier" type="cs:IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AuthorizedSpecialty" type="cs:AuthSpecialtyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Franchise" type="cs:FranchiseRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Segmentation" type="cs:SegmentationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AuctionAccount" type="cs:AuctionAccountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BankAccount" type="cs:BankAccountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FloorPlanAccount" type="cs:FloorPlanAccountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CustomerGroupRelationship" type="cs:CustGrpRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ParentCompanyRelationship" type="cs:ParentCompanyRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ParentCustomerGroup" type="cs:CustomerGroupRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

