edi9-messages/src/main/resources/xsd/inbound/Cci9/CCI9.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Charles Redden (AutoTec, LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../Header9.xsd"/>
	<xs:annotation>
		<xs:documentation>Customer Customization Information Message.  This message contains Customer specific information. It is an independent message from the COM and TPR message and will not always be sent with an accompanying COM or TPR message.  The EntityID and EntityType parameters in this message should be used to associate the data in this message with the appropriate parent Entity information.</xs:documentation>
	</xs:annotation>
	<xs:element name="AtRisk">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayACH">
		<xs:annotation>
			<xs:documentation>Auction may issue ACH payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayACHWithDataTransmission">
		<xs:annotation>
			<xs:documentation>Auction may issue ACH with Data Transmission payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayCash">
		<xs:annotation>
			<xs:documentation>Auction may issue cash payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayCheck">
		<xs:annotation>
			<xs:documentation>Auction may issue check payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayDeposit">
		<xs:annotation>
			<xs:documentation>Auction may issue deposits to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayDraft">
		<xs:annotation>
			<xs:documentation>Auction may issue draft payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AuctionPayEFT">
		<xs:annotation>
			<xs:documentation>Auction may issue EFT payments to company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AutoIMSID">
		<xs:annotation>
			<xs:documentation>ID issued to company by AutoIMS</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AutoIMSSecondaryID">
		<xs:annotation>
			<xs:documentation>Auction provided ID.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Captive">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayACH">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by ACH.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayACHWithDataTransmission">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by ACH with data transmission.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayCash">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by cash.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayCheck">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by check.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayDeposit">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by deposit.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayDraft">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by draft.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyPayEFT">
		<xs:annotation>
			<xs:documentation>Auction allows company to pay by EFT.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreditLimit">
		<xs:annotation>
			<xs:documentation>Auction's credit limit for company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9.]{0,20}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomizationCustomerID" minOccurs="0"/>
				<xs:element ref="Visibility"/>
				<xs:element ref="EntityToBePaid" minOccurs="0"/>
				<xs:element ref="CustomizationCustomerName" minOccurs="0"/>
				<xs:element ref="CompanyPayCash" minOccurs="0"/>
				<xs:element ref="CompanyPayCheck" minOccurs="0"/>
				<xs:element ref="CompanyPayDraft" minOccurs="0"/>
				<xs:element ref="CompanyPayEFT" minOccurs="0"/>
				<xs:element ref="CompanyPayACH" minOccurs="0"/>
				<xs:element ref="CompanyPayACHWithDataTransmission" minOccurs="0"/>
				<xs:element ref="CompanyPayDeposit" minOccurs="0"/>
				<xs:element ref="AuctionPayCash" minOccurs="0"/>
				<xs:element ref="AuctionPayCheck" minOccurs="0"/>
				<xs:element ref="AuctionPayDraft" minOccurs="0"/>
				<xs:element ref="AuctionPayEFT" minOccurs="0"/>
				<xs:element ref="AuctionPayACH" minOccurs="0"/>
				<xs:element ref="AuctionPayACHWithDataTransmission" minOccurs="0"/>
				<xs:element ref="AuctionPayDeposit" minOccurs="0"/>
				<xs:element ref="PayCashDepositRequired" minOccurs="0"/>
				<xs:element ref="CreditLimit" minOccurs="0"/>
				<xs:element ref="RequiredCashDepositAmount" minOccurs="0"/>
				<xs:element ref="FinancialTemplateCode" minOccurs="0"/>
				<xs:element ref="TransmissionAccount" minOccurs="0"/>
				<xs:element ref="InspectionClient" minOccurs="0"/>
				<xs:element ref="Dealer" minOccurs="0"/>
				<xs:element ref="Manufacturer" minOccurs="0"/>
				<xs:element ref="Captive" minOccurs="0"/>
				<xs:element ref="OffLease" minOccurs="0"/>
				<xs:element ref="Salvage" minOccurs="0"/>
				<xs:element ref="Rental" minOccurs="0"/>
				<xs:element ref="AtRisk" minOccurs="0"/>
				<xs:element ref="Repossession" minOccurs="0"/>
				<xs:element ref="Fleet" minOccurs="0"/>
				<xs:element ref="CustomerSpecificID" minOccurs="0"/>
				<xs:element ref="EffectiveDate" minOccurs="0"/>
				<xs:element ref="ExpirationDate" minOccurs="0"/>
				<xs:element ref="RemittanceName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerSpecificID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomizationCustomerName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomizationCustomerID" type="xs:int">
		<xs:annotation>
			<xs:documentation>Unique ID of the Customer's Customization Information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomizationID" type="xs:int">
		<xs:annotation>
			<xs:documentation>Unique ID of the Customization Information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomizationName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Dealer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EffectiveDate">
		<xs:annotation>
			<xs:documentation>Effective date of Customer Customization Information</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntityInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntityID"/>
				<xs:element ref="EntityType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityToBePaid">
		<xs:annotation>
			<xs:documentation> Company ID of the Entity to be Paid.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:maxInclusive value="8999999"/>
				<xs:minInclusive value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntityType">
		<xs:annotation>
			<xs:documentation>Indicates kind of entity in message.  Note: The EntityType enumerations are consistent across all messages. The only values that pertain to this message are: Dealership, Commercial Account, and Third Party Remarketing.  Transporter is a future enhancement and may or may not be relevant to this message in the future.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Dealership"/>
				<xs:enumeration value="Transporter"/>
				<xs:enumeration value="Commercial Account"/>
				<xs:enumeration value="Company Association"/>
				<xs:enumeration value="Person"/>
				<xs:enumeration value="Bank"/>
				<xs:enumeration value="Bank Account"/>
				<xs:enumeration value="Third Party Remarketing"/>
				<xs:enumeration value="Customer Customization"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExpirationDate">
		<xs:annotation>
			<xs:documentation>Date of Customer Customization Information Expiration.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:date">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FinancialTemplateCode">
		<xs:annotation>
			<xs:documentation>Indicates auction defined code template for entity.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Fleet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GeneralInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomizationID" minOccurs="0"/>
				<xs:element ref="CustomizationName" minOccurs="0"/>
				<xs:element ref="AutoIMSID" minOccurs="0"/>
				<xs:element ref="AutoIMSSecondaryID" minOccurs="0"/>
				<xs:element ref="Primary" minOccurs="0"/>
				<xs:element ref="CustomerInformation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InspectionClient">
		<xs:annotation>
			<xs:documentation>Contains auction defined value.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Manufacturer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="EntityInformation"/>
				<xs:element ref="GeneralInformation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OffLease">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PayCashDepositRequired">
		<xs:annotation>
			<xs:documentation>Indicates auction requires cash deposit for purchase.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Primary">
		<xs:annotation>
			<xs:documentation>Indicates that settings contained in current Customization should be considered the primary or preferred settings for the attached company.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RemittanceName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Rental">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Repossession">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequiredCashDepositAmount">
		<xs:annotation>
			<xs:documentation>Cash deposit amount auction requires for company to purchase.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9.]{0,20}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Salvage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TransmissionAccount">
		<xs:annotation>
			<xs:documentation>Contains auction defined value.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Visibility">
		<xs:annotation>
			<xs:documentation>Indicates customer level of who customized the information</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Customer"/>
				<xs:enumeration value="Group"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
