edi9-messages/src/main/resources/xsd/inbound/Iss/ISS9.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../Header9.xsd"/>
	<xs:annotation>
		<xs:documentation>Message containing information on an entity's issues.  This message will not always be accompanied by its parent Company or Individual message.  The EntityID and EntityType parameters in this message should be used to associate the data in this message with the appropriate parent information.</xs:documentation>
	</xs:annotation>
	<xs:element name="Comment">
		<xs:annotation>
			<xs:documentation>Explanatory comment supplied for issue.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreatedDateTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Created DateTime of issue.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreatedUserCustomer">
		<xs:annotation>
			<xs:documentation>Name of company of the user who created the issue.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreatedUserCustomerID">
		<xs:annotation>
			<xs:documentation>AutoTec ID of creating user.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="1000000000"/>
				<xs:maxInclusive value="1999999999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CreatedUserName">
		<xs:annotation>
			<xs:documentation>Name of creator.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocumentInformation">
		<xs:annotation>
			<xs:documentation>This section contains document related information pertaining to a specific issue.  If no document information applies to the issue, this section will not appear.  If this section does appear in the message, DocumentType will always be present.  RequiredByState and RequiredByCountry are optional fields.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentType" minOccurs="0"/>
				<xs:element ref="RequiredByState" minOccurs="0"/>
				<xs:element ref="RequiredByCountry" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType">
		<xs:annotation>
			<xs:documentation>Document necessary for issue resolution.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EffectiveDateTime">
		<xs:annotation>
			<xs:documentation>Date when issue becomes visible in AuctionACCESS and potentially begins blocking registration.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:dateTime">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntityInformation">
		<xs:annotation>
			<xs:documentation>Contains identification of parent entity.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EntityID"/>
				<xs:element ref="EntityType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntityRestriction">
		<xs:annotation>
			<xs:documentation>ID of an additional restriction to a specific entity on the Issue.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{1,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EntityType">
		<xs:annotation>
			<xs:documentation>Indicates kind of entity in message.  Note: The EntityType enumerations are consistent across all messages. The only values that pertain to this message are: Dealership, Commercial Account, and Person.  Transporter is a future enhancement and may or may not be relevant to this message in the future.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Dealership"/>
				<xs:enumeration value="Transporter"/>
				<xs:enumeration value="Commercial Account"/>
				<xs:enumeration value="Company Association"/>
				<xs:enumeration value="Person"/>
				<xs:enumeration value="Bank"/>
				<xs:enumeration value="Bank Account"/>
				<xs:enumeration value="Third Party Remarketing"/>
				<xs:enumeration value="Customer Customization"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IssueID" type="xs:int">
		<xs:annotation>
			<xs:documentation>AutoTec Issue ID.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IssueInformation">
		<xs:annotation>
			<xs:documentation>Contains information on a specific issue.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IssueID"/>
				<xs:element ref="IssueName"/>
				<xs:element ref="Visibility"/>
				<xs:element ref="EntityRestriction" minOccurs="0"/>
				<xs:element ref="Comment"/>
				<xs:element ref="EffectiveDateTime"/>
				<xs:element ref="CreatedDateTime"/>
				<xs:element ref="CreatedUserCustomer"/>
				<xs:element ref="CreatedUserCustomerID"/>
				<xs:element ref="CreatedUserName"/>
				<xs:element ref="DocumentInformation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SolutionInformation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IssueName">
		<xs:annotation>
			<xs:documentation>Readable description of issue.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ADESA Document Not Scanned"/>
				<xs:enumeration value="ADESA Document Rejected"/>
				<xs:enumeration value="Admin Hold - Buy"/>
				<xs:enumeration value="Admin Hold - Sell"/>
				<xs:enumeration value="Application Not Scanned"/>
				<xs:enumeration value="Application Rejected"/>
				<xs:enumeration value="AutoTec Requested Document"/>
				<xs:enumeration value="Dealer Authorization Letter Not Scanned"/>
				<xs:enumeration value="Dealer Authorization Letter Rejected"/>
				<xs:enumeration value="Duplicate"/>
				<xs:enumeration value="Financial Hold - Buy"/>
				<xs:enumeration value="Financial Hold - Sell"/>
				<xs:enumeration value="Group Unauthorized - Buy"/>
				<xs:enumeration value="Group Unauthorized - Sell"/>
				<xs:enumeration value="ID Verification Warning"/>
				<xs:enumeration value="In Red Flags Violation"/>
				<xs:enumeration value="In Violation of AutoTec Policies"/>
				<xs:enumeration value="Individual Authorization Rejected"/>
				<xs:enumeration value="Individual Authorization Not Scanned"/>
				<xs:enumeration value="International Documentation Not Verifiable"/>
				<xs:enumeration value="Invalid Information"/>
				<xs:enumeration value="KO Book"/>
				<xs:enumeration value="License Expired"/>
				<xs:enumeration value="License Not Scanned"/>
				<xs:enumeration value="License Rejected"/>
				<xs:enumeration value="License Revoked/Cancelled/Suspended"/>
				<xs:enumeration value="Locked per Owner/Officer"/>
				<xs:enumeration value="Manheim Document Expired"/>
				<xs:enumeration value="Manheim Document Not Scanned"/>
				<xs:enumeration value="Manheim Document Rejected"/>
				<xs:enumeration value="Membership Expired"/>
				<xs:enumeration value="Missing Government ID"/>
				<xs:enumeration value="Missing Required Data"/>
				<xs:enumeration value="Owner in KO Book"/>
				<xs:enumeration value="Owner/Officer Not Specified"/>
				<xs:enumeration value="Personal License Expired"/>
				<xs:enumeration value="Personal License Not Scanned"/>
				<xs:enumeration value="Personal License Rejected"/>
				<xs:enumeration value="Photo ID Expired"/>
				<xs:enumeration value="Photo ID Not Scanned"/>
				<xs:enumeration value="Photo ID Rejected"/>
				<xs:enumeration value="Refuses to be in Auction ACCESS"/>
				<xs:enumeration value="Representative in KO Book"/>
				<xs:enumeration value="Required Document Expired"/>
				<xs:enumeration value="Required Document Not Scanned"/>
				<xs:enumeration value="Required Document Rejected"/>
				<xs:enumeration value="Role Reinstated without Paperwork"/>
				<xs:enumeration value="Under Autotec Review"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="EntityInformation"/>
				<xs:element ref="IssueInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequiredByState">
		<xs:annotation>
			<xs:documentation>Issuing State for related document type.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequiredByCountry">
		<xs:annotation>
			<xs:documentation>Issuing Country for related document type.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionComment">
		<xs:annotation>
			<xs:documentation>Comment supplied upon issue solution.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionDateTime">
		<xs:annotation>
			<xs:documentation>DateTime issue was resolved.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:dateTime">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionEntityRestriction">
		<xs:annotation>
			<xs:documentation>ID of an additional restriction to a specific entity on the Issue.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{1,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionExpirationDateTime">
		<xs:annotation>
			<xs:documentation>Date until which an override is in effect.  An empty date means Solution does not expire and will remain until manually removed.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union memberTypes="xs:dateTime">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionInformation">
		<xs:annotation>
			<xs:documentation>This section contains solution information for an issue.  If an issue is unresolved, this section will not appear in the message.  If this section does appear in the message, SolutionMethod, SolutionUserName, SolutionDateTime, SolutionUserAuctionID, and SolutionUserAuction will always be present.  SolutionComment and SolutionExpirationDateTime are optional fields.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SolutionMethod" minOccurs="0"/>
				<xs:element ref="SolutionEntityRestriction" minOccurs="0"/>
				<xs:element ref="SolutionComment" minOccurs="0"/>
				<xs:element ref="SolutionUserName" minOccurs="0"/>
				<xs:element ref="SolutionDateTime" minOccurs="0"/>
				<xs:element ref="SolutionExpirationDateTime" minOccurs="0"/>
				<xs:element ref="SolutionUserCustomerID" minOccurs="0"/>
				<xs:element ref="SolutionUserCustomer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SolutionMethod">
		<xs:annotation>
			<xs:documentation>Indicates whether an issue is resolved or otherwise overridden.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Resolved"/>
				<xs:enumeration value="Overridden"/>
				<xs:enumeration value="Full Exception"/>
				<xs:enumeration value="Sell/Cash Only Exception"/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionUserCustomer">
		<xs:annotation>
			<xs:documentation>Name of solution auction.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionUserCustomerID">
		<xs:annotation>
			<xs:documentation>AutoTec ID of solution auction.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:union>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1000000000"/>
						<xs:maxInclusive value="1999999999"/>
					</xs:restriction>
				</xs:simpleType>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:union>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SolutionUserName">
		<xs:annotation>
			<xs:documentation>Name of user providing solution.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Visibility">
		<xs:annotation>
			<xs:documentation>Indicates the scope of the effect of the issue</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Customer"/>
				<xs:enumeration value="Global"/>
				<xs:enumeration value="Group"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
